# Android
**/build/
.gradle/
*.iml
.idea/
/local.properties
.DS_Store
capture/
.externalNativeBuild
.cxx
local.properties

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Firebase
.firebase/
firebug-*.log
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Extension
*.log
.DS_Store
Thumbs.db
pinbridge-61dd4-firebase-adminsdk-fbsvc-0a40b49b05.json
sentry.properties
