<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".PinBridgeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PinBridge">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PinBridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PairingActivity"
            android:label="@string/title_pairing"
            android:theme="@style/Theme.PinBridge.NoActionBar" />

        <activity
            android:name=".PairingScannerActivity"
            android:exported="true"
            android:theme="@style/Theme.PinBridge.NoActionBar">
            <intent-filter>
                <action android:name="com.pinbridge.otpmirror.ACTION_START_PAIRING_SCAN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManualCodeEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.PinBridge.NoActionBar">
            <intent-filter>
                <action android:name="com.pinbridge.otpmirror.ACTION_MANUAL_CODE_ENTRY" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".OtpReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
